header {
    background-color: #EA5E42;
    
}

a {
    
    
}

.large {
    font-size: 3rem;
}

.white {
    color: white;
}

.box-just {
    display:flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
}